<?php

// site name
$site_name = "Site Name";

//Apps

// sickbeard/sickrage settings
$sickbeard_enabled = "1";
$ip = "website or ip:8081"; //must include http or https
$api = "1234";
$sick_grab_limit = "50"; //Limits the amount of recently snatched items.

// sonarr settings
$sonarr_enabled = "0"; //Change the value from 0 to 1 to enable sonarr
$sonarr_ip = "website or ip:8989"; //must include http or https
$sonarr_api = "1234";

// plex settings -- Optional
$plex_enabled = "0";
$plex_ip = "website or ip:32400"; //must include http or https
$plex_mov = "1"; //Select Section for Movies
$plex_tv = "2"; //Select Section for TV Shows

// headphones settings -- Optional
$headphones_enabled = "0";
$headphones_ip = "website or ip:8181"; //must include http or https
$headphones_api = "123";

// Downloaders

// sabnzbd settings -- Optional
$sab_enabled = "0"; //Change the value from 0 to 1 to enable sabnzbd
$sab_ip = "website or ip:8082"; //must include http or https
$sab_api = "1234";

// nzbget settings -- Optional
$nzbget_enabled = "0"; //Change the value from 0 to 1 to enable sabnzbd
$nzbget_ip = "website or ip:6789"; //must not include http or https
$nzbget_ssl = "0"; //Change to 1 for https
$nzbget_username = "username";
$nzbget_password = "password";
?>